In [14]:
import pandas as pd

In [15]:
food = pd.read_pickle('food_final_version.pkl')

In [59]:
# food

In [16]:
res  = pd.read_pickle('res_final_version.pkl')

In [17]:
res.head()

,City,Price-range,openHours,resAddress,resName,resUrl,foodtype,location,lat,long,restaurant_id
0,Bình Thạnh,"50,000 - 150,000",09:00 - 21:00,"30 - 30B Xô Viết Nghệ Tĩnh, P. 19",Hanuri - Quán Ăn Hàn Quốc - Xô Viết Nghệ Tĩnh,https://images.foody.vn/res/g11/100424/prof/s2...,anvat,"[10.7938756, 106.7087562]",10.796875,106.6875,1
1,Bình Thạnh,"40,000 - 150,000",10:00 - 20:00,5 Đinh Tiên Hoàng,Busan Korean Food - Món Hàn Quốc - Đinh Tiên H...,https://images.foody.vn/res/g21/208155/prof/s2...,anvat,"[10.7875366, 106.7011438]",10.789062,106.6875,2
2,Bình Thạnh,"25,000 - 50,000",09:00 - 21:00,"71/5 Điện Biên Phủ, P.15",Kimbap FC - Món Ăn Hàn Quốc,https://images.foody.vn/res/g9/89905/prof/s280...,anvat,"[10.7960724, 106.7018518]",10.796875,106.6875,3
3,Bình Thạnh,"30,000 - 50,000",11:00 - 22:00,"294/63 Xô Viết Nghệ Tĩnh, P. 21",Cơm Trộn 2 Cô - Xô Viết Nghệ Tĩnh,https://images.foody.vn/res/g10/91713/prof/s28...,anvat,"[10.8000447, 106.7128685]",10.796875,106.6875,4
4,Bình Thạnh,"70,000 - 165,000",10:30 - 21:00,"Saigon Pearl, 92 Nguyễn Hữu Cảnh",Morico - Contemporary Japanese Lifestyle - Sai...,https://images.foody.vn/res/g1/897/prof/s280x1...,anvat,"[10.79062, 106.7188153]",10.789062,106.7500,5

In [19]:
res.head()

,City,Price-range,openHours,resAddress,resName,resUrl,foodtype,location,lat,long,restaurant_id
0,Bình Thạnh,"50,000 - 150,000",09:00 - 21:00,"30 - 30B Xô Viết Nghệ Tĩnh, P. 19",Hanuri - Quán Ăn Hàn Quốc - Xô Viết Nghệ Tĩnh,https://images.foody.vn/res/g11/100424/prof/s2...,anvat,"[10.7938756, 106.7087562]",10.796875,106.6875,1
1,Bình Thạnh,"40,000 - 150,000",10:00 - 20:00,5 Đinh Tiên Hoàng,Busan Korean Food - Món Hàn Quốc - Đinh Tiên H...,https://images.foody.vn/res/g21/208155/prof/s2...,anvat,"[10.7875366, 106.7011438]",10.789062,106.6875,2
2,Bình Thạnh,"25,000 - 50,000",09:00 - 21:00,"71/5 Điện Biên Phủ, P.15",Kimbap FC - Món Ăn Hàn Quốc,https://images.foody.vn/res/g9/89905/prof/s280...,anvat,"[10.7960724, 106.7018518]",10.796875,106.6875,3
3,Bình Thạnh,"30,000 - 50,000",11:00 - 22:00,"294/63 Xô Viết Nghệ Tĩnh, P. 21",Cơm Trộn 2 Cô - Xô Viết Nghệ Tĩnh,https://images.foody.vn/res/g10/91713/prof/s28...,anvat,"[10.8000447, 106.7128685]",10.796875,106.6875,4
4,Bình Thạnh,"70,000 - 165,000",10:30 - 21:00,"Saigon Pearl, 92 Nguyễn Hữu Cảnh",Morico - Contemporary Japanese Lifestyle - Sai...,https://images.foody.vn/res/g1/897/prof/s280x1...,anvat,"[10.79062, 106.7188153]",10.789062,106.7500,5

# KNN

### Prepare features for training. Here we have long and lat

In [24]:
res_embedding = res.drop(['Price-range', 'openHours', 'resAddress', 'resName', 'resUrl', 'location', 'restaurant_id'], axis=1)

In [25]:
# futures considered features. for now input from user are long lat. 
res_embedding.head()

         City foodtype        lat      long
0  Bình Thạnh    anvat  10.796875  106.6875
1  Bình Thạnh    anvat  10.789062  106.6875
2  Bình Thạnh    anvat  10.796875  106.6875
3  Bình Thạnh    anvat  10.796875  106.6875
4  Bình Thạnh    anvat  10.789062  106.7500

In [28]:
# our final input vector, which contains only lat long
# our label is the indices
features = res_embedding.drop(['City', 'foodtype'], axis=1)
features

            lat      long
0     10.796875  106.6875
1     10.789062  106.6875
2     10.796875  106.6875
3     10.796875  106.6875
4     10.789062  106.7500
...         ...       ...
1835  10.789062  106.6875
1836  10.812500  106.6875
1837  10.796875  106.6875
1838  10.789062  106.6875
1839  10.796875  106.6875

[1840 rows x 2 columns]

In [ ]:
# pip install sklearn

In [29]:
from sklearn.neighbors import NearestNeighbors

In [30]:
# find the 50 closest restaurant.
# Increase or decrease n_neighbors to add or remove recommendations
nbrs = NearestNeighbors(n_neighbors=50, algorithm='ball_tree').fit(features)

In [36]:
# get the distance between features and its indices.
# Indices are used later to look up for names
distances, indices = nbrs.kneighbors(features)

In [57]:
def get_index_from_long_lat(lat, long):
    try:
        cond1 = res["lat"]==lat
        cond2 = res["long"]==long
        return res[cond1&cond2].index.tolist()[0]
    except:
        print("Location cannot be determined")

In [ ]:
# all_location_names = list(res.resName.values)
# all_location_lat = list(res.lat.values)
# all_location_long = list(res.long.values)

In [53]:
def print_similar_location(lat, long, foodtype=None):
        top_recommendation = []
        other_recommendation = []
        found_id = get_index_from_long_lat(lat, long)
        for id in indices[found_id][1:]:
            if res.iloc[id]["foodtype"] == foodtype:
                top_recommendation.append([res.iloc[id]["resName"], res.iloc[id]["openHours"], res.iloc[id]["resAddress"], res.iloc[id]["foodtype"]])
                
        for id in indices[found_id][1:]:
            if res.iloc[id]["foodtype"] != foodtype:
                other_recommendation.append([res.iloc[id]["resName"], res.iloc[id]["openHours"], res.iloc[id]["resAddress"], res.iloc[id]["foodtype"]])
        return top_recommendation, other_recommendation

In [54]:
top, other = print_similar_location(10.728860, 106.624220, 'anvat')

In [55]:
top

[['Ăn Vặt Loli - Võ Văn Kiệt',
  '08:30 - 22:00',
  '1570/85 Võ Văn Kiệt, P. 7, Quận 6, TP. HCM',
  'anvat'],
 ['Sủi Cảo Đài Loan',
  '09:00 - 21:00',
  '478 Bùi Minh Trực, P. 6, Quận 8, TP. HCM',
  'anvat'],
 ['Ăn Vặt Hù Mập',
  '12:00 - 22:00',
  '287B Bùi Minh Trực, P. 6, Quận 8, TP. HCM',
  'anvat'],
 ['Chè Bưởi Homemade',
  '12:30 - 23:00',
  '189 Nguyễn Văn Luông, P. 11, Quận 6, TP. HCM',
  'anvat'],
 ['Ốc Khanh Kiều - 125 Phạm Văn Chí',
  '13:30 - 21:30',
  '125 Phạm Văn Chí, P. 3, Quận 6, TP. HCM',
  'anvat'],
 ['Chuột Túi House - Thế Giới Ăn Vặt',
  '15:00 - 21:30',
  '103 Tuy Lý Vương, P. 12, Quận 8, TP. HCM',
  'anvat'],
 ['Bánh Tráng Út Hạnh - Shop Online',
  '09:00 - 23:00',
  '30 Đường Số 32, Chung Cư Bình Phú, P. 10, Quận 6, TP. HCM',
  'anvat'],
 ['Bánh Trứng HongKong Suki - Phạm Thế Hiển',
  '09:00 - 22:00',
  '1461 Phạm Thế Hiển, P. 6, Quận 8, TP. HCM',
  'anvat']]

In [56]:
other[:10]

[['Tài Ký - Cơm Gà Xối Mỡ - Phạm Thế Hiển',
  '00:01 - 23:59',
  '2632 Phạm Thế Hiển, P. 7, Quận 8, TP. HCM',
  'com'],
 ['Fresh Tea - Tạ Quang Bửu',
  '08:00 - 22:00',
  'Căn Hộ Pegasuite, 996 Tạ Quang Bửu, P. 6, Quận 8, TP. HCM',
  'trasua'],
 ['Rau Câu Dừa Ngọc Trang - Shop Online',
  '09:00 - 21:00',
  'A2/15 Đường Số 1, Khu Dân Cư Bình Hưng, Quận 8, TP. HCM',
  'dessert'],
 ['Năm Ký - Cơm Gà Xối Mỡ',
  '00:01 - 23:59',
  '58 Đường Số 41, P. 16, Quận 8, TP. HCM',
  'com'],
 ['The Rita House - Milk Tea',
  '09:00 - 22:00',
  '11A Lý Đạo Thành, P. 16, Quận 8, TP. HCM',
  'drink'],
 ['A+ Coffee - Xưởng Rang Cà Phê',
  '06:00 - 21:00',
  '83F Lý Chiêu Hoàng, P. 10, Quận 6, TP. HCM',
  'coffee'],
 ['Nâu Đá Coffee - Bùi Minh Trực',
  '07:00 - 21:00',
  '47/43A Bùi Minh Trực, P. 6, Quận 8, TP. HCM',
  'coffee'],
 ['Gà Rán Five Star - Bùi Minh Trực',
  '11:00 - 23:00',
  '223 Bùi Minh Trực, Quận 8, TP. HCM',
  'fastfood'],
 ['Lẩu Dê Thuận Phát',
  '08:00 - 23:59',
  '52 Song Hành, P. 10, Quận 6, TP. HCM',
  'lau'],
 ['Tiny Bakery - Phạm Thế Hiển',
  '07:00 - 23:59',
  '1975 Phạm Thế Hiển, P. 6, Quận 8, TP. HCM',
  'dessert']]